<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
  <client>
    <endpoint name="studentskaSluzba"
      address="net.tcp://localhost:5000/IStudentskaSluzba"
      binding="netTcpBinding"
      contract="K_StudentskaSluzba.IStudentskaSluzba" />
    
    <endpoint name="bezbednost"
     address="net.tcp://localhost:5000/IBezbednosniMehanizmi"
     binding="netTcpBinding"
     contract="K_StudentskaSluzba.IBezbednosniMehanizmi" />
  </client>
</system.serviceModel>
  
</configuration>