<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <services>
      <service name="K_SistemMonitor.ServisStudentskeSluzbeMonitor">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:5000/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="IStudentskaSluzba" binding="netTcpBinding" contract="K_StudentskaSluzba.IStudentskaSluzba" />
        <endpoint address="IBezbednosniMehanizmi" binding="netTcpBinding" contract="K_StudentskaSluzba.IBezbednosniMehanizmi" />

      </service>
    </services>

     <client>
      <endpoint name="prvi"
        address="net.tcp://localhost:4000/IStanjeServisa"
        binding="netTcpBinding"
        contract="K_StudentskaSluzba.IStanjeServisa" />
     
       <endpoint name="prviSSluzba"
       address="net.tcp://localhost:4000/IStudentskaSluzba"
       binding="netTcpBinding"
       contract="K_StudentskaSluzba.IStudentskaSluzba" />
      
       <endpoint name="prviBezbednost"
       address="net.tcp://localhost:4000/IBezbednosniMehanizmi"
       binding="netTcpBinding"
       contract="K_StudentskaSluzba.IBezbednosniMehanizmi" />
      
       <endpoint name="drugi"
        address="net.tcp://localhost:3000/IStanjeServisa"
        binding="netTcpBinding"
        contract="K_StudentskaSluzba.IStanjeServisa" />
       
       <endpoint name="drugiSSluzba"
       address="net.tcp://localhost:3000/IStudentskaSluzba"
       binding="netTcpBinding"
       contract="K_StudentskaSluzba.IStudentskaSluzba" />

       <endpoint name="drugiBezbednost"
       address="net.tcp://localhost:3000/IBezbednosniMehanizmi"
       binding="netTcpBinding"
       contract="K_StudentskaSluzba.IBezbednosniMehanizmi" />
       
    </client>
    
  </system.serviceModel>
</configuration>